body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: black;

    .logo-img {
        height: 40px;
    }
    a {
        color: white;
        margin: 0 15px;
        font-size: 16px;
    }
}

main {
    display: flex;
    background: url(/html_css/src/img/bg-cs.png) no-repeat center center / cover;
    justify-content: space-around;

    .guns {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 20px;
    }
}






footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;

    .back_button {
        display: flex;
        position: relative;
        background: white;
        border-radius: 20px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        color: white;
        border: solid black;
    }
    
    .back_button svg {
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .back_button:hover {
        transition: 0.2s;
        transform: scale(1.1);
    }
    
    .back_button:not(:hover) {
        transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    
    .back_button:active {
        transform: scale(1);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    }

    .social {
        p {
            font-size: 13px;
            color: #ccc;
        }
        
        
        .contact p {
            margin: 5px 0;
            font-size: 14px;
            color: #ccc;
        }
        
        .valve {
            font-size: 20px;
            font-weight: bold;
            color: #f39c12;
        }
        
        
        .icon {
            fill: currentColor;
        }
        
        .icon:hover {
            transition: 0.2s;
            transform: scale(1.1);
        }
        
        .icon:not(:hover) {
            transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
    }
}
