.main {
    background-color: rgb(241, 245, 181);
}

.main_block {
    background-color: white;
    height: 755px;
    width: 510px;
    margin: 0 auto;
    border-radius: 70px;
}

.decor {
    position: relative;

}


.person_icon {
    position: relative;
    justify-content: center;
    bottom: 250px;
}

.texts {
    text-align: center;
}

.big {
    font-size: 38px;
    letter-spacing: 3px;
    margin: 2px;
    margin-top: 30px;
}

.small {
    color: grey;
    margin: 2px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
}


.main_text {
    margin: 0 auto;
    font-size: 18px;
    width: 414px;
    height: 75px;
    line-height: 25px;
    margin-top: 40px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.button-1,
.button-2 {
    border-radius: 40px;
    width: 191px;
    height: 57px;
}

.button-1 {
    background-color: #DF3F8C;
    color: white;
    border-color: #DF3F8C;
}

.button-2 {
    background-color: white;
    color: grey;
    border-color: grey;
}